<TMPL_MARKER START>
<TMPL_VAR b_text>

<!-- <TMPL_VAR b_text> -->

<!--
<TMPL_INLINE inc/template.inc>
-->

<!-- comment
## comment
-->

<!--
<TMPL_COMMENT>
    <TMPL_VAR b_text>
</TMPL_COMMENT>
-->

<TMPL_IF b_condition>
    <!-- <TMPL_VAR b_text> -->
<TMPL_ELSE>
    <!-- <TMPL_VAR b_text> -->
</TMPL_IF>
<TMPL_MARKER END>
