<TMPL_VAR b_text>
<TMPL_SETVAR text><TMPL_VAR b_text></TMPL_SETVAR>
<TMPL_SETVAR b_text><TMPL_VAR b_text></TMPL_SETVAR>
<TMPL_ASSIGN text b_text>
<TMPL_ASSIGN b_text2 text>
<TMPL_ASSIGN b_text2 [% $b_text %]>
