<TMPL_MARKER START>

<TMPL_IF b_track_experiment_not_overtracking></TMPL_IF>
<TMPL_IF [% $b_value eq 'ok' && $b_track_experiment_not_overtracking %]></TMPL_IF>
<TMPL_IF [% $b_value eq 'ok' || $b_track_experiment_not_overtracking %]></TMPL_IF>
<TMPL_IF [% $b_track_experiment_not_overtracking && $b_object->{b_id} %]></TMPL_IF>
<TMPL_IF [% $b_track_experiment_not_overtracking && $b_object->{b_id} == 1 %]></TMPL_IF>
<TMPL_IF [% $b_track_experiment_not_overtracking && function_call($b_value) %]></TMPL_IF>

<TMPL_IF [% $b_track_experiment_overtracking && $b_value eq 'ok' %]></TMPL_IF>
<TMPL_IF [% $nested || ($b_track_experiment_overtracking && $b_top_level_value) %]></TMPL_IF>

<TMPL_MARKER END>
