<TMPL_MARKER START>

<TMPL_UNLESS b_condition>
    Text
</TMPL_UNLESS>

<TMPL_UNLESS [% $b_expression && $b_condition %]>
    Text
</TMPL_UNLESS>

<TMPL_UNLESS b_condition>
    One
<TMPL_ELSE>
    Another
</TMPL_UNLESS>

<TMPL_MARKER END>
