<TMPL_IF b_generate_variant_for_js_tracking_exp_name>
    <TMPL_VAR b_value>
</TMPL_IF>

<TMPL_IF [% $b_condition && $b_generate_variant_for_js_tracking_exp_name %]>
    <TMPL_VAR b_value>
</TMPL_IF>

<TMPL_IF b_track_experiment_exp_name>
    <TMPL_VAR b_value>
</TMPL_IF>

<TMPL_INLINE inc/template.inc
    b_hash=b_generate_variant_for_js_tracking_exp_name>
