<TMPL_INLINE ../relative/template.inc>

<TMPL_INLINE inc/template/header.inc
    b_attr=b_attr_value
    b_expression_attr=[% $b_expression_value %]>

<TMPL_INLINE label:../relative/template.inc>
<TMPL_INLINE another_label:component.inc>
